.HomeContent {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s ease-in-out;
}

.HomeContent-first-image {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.ibb.co/jRC7Wft/image-1.png");
    background-size: cover;
    background-position: center;
    gap: 20px;
    flex-direction: column;
    position: relative;
}

.HomeContent-first-image-text {
    width: 58%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.HomeContent-first-image-text-first {
    font-size: 50px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin: 0%;
}

span {
    color: #F88125;
}

.HomeContent-first-image-Box {
    width: 60%;
    height: 90px;
    background-color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    align-items: center;
}

.HomeContent-first-image-Box-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;

}

.HomeContent-first-image-Box-content-first {
    width: 65%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.first-dropdown-effect {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: start;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    gap: 05px;
    padding-right: 10px;
}

.first-dropdown-effect-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #919191;
}


.drop {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.first-dropdown-effect-drop-last {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #919191;
    position: relative;
}

.drop-down-first-drop {
    position: absolute;
    width: 130px;
    background-color: #919191a0;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.drop-down-first-drop div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}

.drop-down-first-drop div:nth-child(1) {
    border-bottom: 1px solid #333;
}

.HomeContent-first-image-Box-content button {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 50px;
    color: #000000;
    background-color: #F88125;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.mask-group {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #11224e;
    bottom: -12%;
    right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask-group img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.first-dropdown-effect {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.first-dropdown-effect p {
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.first-dropdown-effect:hover .dropdown-menu,
.first-dropdown-effect:focus-within .dropdown-menu,
.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu p {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-menu p:hover {
    background-color: #f0f0f0;
}

/* yha se nicha second ka hay  */


.HomeContent-second-content {
    width: 80%;
    height: auto;
    border-radius: 5px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 40px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    gap: 30px;
}

.HomeContent-second-content-title {
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.HomeContent-second-content-title :nth-child(1) {
    font-size: 30px;
}

.HomeContent-second-content-title :nth-child(2) {
    font-size: 12px;
}

.HomeContent-second-content-button {
    width: 90%;
    height: 47px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    font-size: 12px;
}

.HomeContent-second-content-button div {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px 30px;
    color: #000;
    cursor: pointer;

}

.HomeContent-second-content-button div.active {
    background-color: #11224e;
    color: white;
    padding: 10px 30px;
}



.HomeContent-second-content-property-view {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    gap: 20px;
}


.property-view-data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    gap: 10px;
}

.HomeContent-second-content-property-view img {
    width: 100%;
}

.property-view-data .title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.property-view-data .discription {
    font-size: 10px;
}

.property-view-data .price-button {
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-button :nth-child(1) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.price-button :nth-child(2) {
    padding: 7px 10px;
    border-radius: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    font-weight: 400;
    background-color: #11224e;
    color: #f1f1f1;
    border: none;
}

.property-view-last-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-view-last-section img {
    width: 13px;
    height: 13px;
}

.property-view-last-section .last-section-data {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Update Done */

.HomeContent-update {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    flex-direction: column;
    color: #11224e;
}

.HomeContent-update-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HomeContent-update-title div {
    font-size: 24px;
}

.HomeContent-update-title button {
    font-size: 12px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 05px;
    color: #ffffff;
    background-color: #F88125;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    -webkit-border-radius: 05px;
    -moz-border-radius: 05px;
    -ms-border-radius: 05px;
    -o-border-radius: 05px;
}

.HomeContent-update-data {

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    gap: 20px;
}

.HomeContent-update-data img {
    width: 100%;
}

.update-data-pic-tite {
    font-size: 25px;
    text-align: start;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.update-data-dis {
    font-size: 11px;
    padding-top: 20px;
}

.update-button {
    font-size: 10px;
    font-weight: 600;
    padding: 8px 20px;
    color: #ffffff;
    border-radius: 05px;
    background-color: #F88125;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* HomeContent-view */
.HomeContent-view {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    flex-direction: column;
}

.HomeContent-view-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HomeContent-view-title-first {
    font-size: 40px;
    transition: all 0.3s ease-in-out;
    width: 35%;
}

.HomeContent-view-title-Second {
    font-size: 12px;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.HomeContent-view-title-Second div {
    font-size: 14px;
}

.HomeContent-view-title-Second button {
    font-size: 12px;
    font-weight: 600;
    padding: 12px 24px;
    color: #000000;
    border-radius: 05px;
    background-color: #F88125;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.HomeContent-Gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.HomeContent-Gallery .main-image {
    width: 50%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.main-image img {
    width: 100%;
    height: 300px;
}


.HomeContent-Gallery .gallery-thumbs {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    gap: 10px;
}

.gallery-thumbs img {
    width: 87%;
}

/* Done */
.HomeContent-Choose-us {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    flex-direction: column;
}

.HomeContent-Choose-us .title {
    font-size: 30px;
}

.HomeContent-Choose-us-content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    gap: 20px;
}

.HomeContent-Choose-us-content-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.HomeContent-Choose-us-content img {
    width: 215px;
    height: 100px;

}

.HomeContent-Choose-us-content .title {
    font-size: 16px;
    margin: 10px 0px 10px 0px;
    font-weight: bolder;
}

.HomeContent-Choose-us-content .discription {
    font-size: 11px;

}

.HomeContent-About-us {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 40px;
    flex-direction: column;
    gap: 30px;
}

.HomeContent-About-us .title {
    font-size: 42px;
    font-weight: 500;
}

.HomeContent-About-us-data {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.HomeContent-About-us-data-mange {
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.HomeContent-About-us-data-mange .Blank {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #000000;
    margin-top: 30px;
}

.HomeContent-About-us-data-mange .Name {
    font-size: 20px;
    width: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.HomeContent-About-us-data-mange .discription {
    font-size: 12px;
    width: 180px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.Stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Stars img {
    width: 20px;
    height: 20px;
}

.HomeContent-Dreams {
    width: 80%;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #11224e;
    align-items: center;
    padding: 20px 40px 20px 40px;
    flex-direction: column;
    gap: 30px;
    color: #ffffff;
}

.HomeContent-Dreams div {
    width: 60%;
    display: flex;
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.HomeContent-Contect {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.HomeContent-Contect :nth-child(1) {
    font-size: 35px;
    font-weight: bolder;
}

.HomeContent-Contect :nth-child(2) {
    text-align: center;
}

.HomeContent-Contect :nth-child(3) {
    font-size: 14px;
    font-weight: 600;
    padding: 18px 30px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #F88125;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 1179px) {
    .HomeContent-view-title-first {
        font-size: 40px;
        width: 50%;
    }

    .HomeContent-Gallery .main-image {
        width: auto;
        height: 320px;
    }

    .HomeContent-Gallery .gallery-thumbs img {
        width: auto;
        height: 155px;
    }
}

@media (max-width: 1024px) {

    .HomeContent-first-image-Box {
        height: 120px;
    }

    .HomeContent-first-image-Box-content {
        flex-direction: column;
    }

    .HomeContent-first-image-Box-content-first {
        width: 100%;
        height: 70px;
    }

    .HomeContent-second-content-button {
        display: grid;
        height: 130px;
        grid-template-columns: repeat(2, 1fr);
    }

    .HomeContent-second-content-button div.active {
        background-color: #11224e;
        color: white;

    }

    .HomeContent-second-content-property-view {
        grid-template-columns: repeat(2, 1fr);
    }

    .HomeContent-second-content-property-view img {
        width: auto;
    }

    .HomeContent-update-data {
        grid-template-columns: repeat(2, 1fr);
    }

    .HomeContent-update-data img {
        width: auto;
    }

    .update-data-pic-tite {
        font-size: 18px;
        text-align: start;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .HomeContent-view-title-first {
        font-size: 30px;
        width: 49%;
    }

    .HomeContent-view-title-Second {
        width: 49%;
    }

    .HomeContent-Choose-us-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .HomeContent-About-us-data {
        grid-template-columns: repeat(2, 1fr);
    }

    .property-view-data .title {
        text-align: center;
    }

}

@media (max-width: 1000px) {
    .HomeContent-first-image-text {
        width: 60%;
    }

    .HomeContent-first-image-text-first {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .HomeContent-second-content {
        width: 90%;
    }

    .HomeContent-second-content-title :nth-child(2) {
        text-align: center;
    }

    .HomeContent-Dreams div {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .HomeContent-first-image {
        height: 85vh;
    }

    .HomeContent-first-image-text {
        width: 80%;
    }

    .HomeContent-first-image-text-first {
        font-size: 38px;
    }

    .HomeContent-first-image-Box {
        height: 160px;
    }

    .HomeContent-first-image-Box-content {
        height: 141px;
    }

    .HomeContent-first-image-Box-content-first {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .drop {
        font-size: 12px;
    }

    .first-dropdown-effect {
        justify-content: center;
        align-items: center;
    }

    .mask-group {
        display: none;
    }

    .HomeContent-second-content-property-view {
        grid-template-columns: repeat(1, 1fr);
    }

    .HomeContent-second-content-property-view img {
        width: auto;
    }

    .HomeContent-update-data {
        grid-template-columns: repeat(1, 1fr);
    }

    .HomeContent-view-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .HomeContent-view-title-first {
        font-size: 25px;
        transition: all 0.3s ease-in-out;
        width: 100%;
    }

    .HomeContent-view-title-Second {
        font-size: 12px;
        width: 100%;
    }

    .HomeContent-Gallery {
        gap: 10px;
        flex-direction: column;
    }

    .HomeContent-Gallery .main-image {
        width: 100%;
    }

    .HomeContent-Gallery .gallery-thumbs {
        width: 100%;
    }

    .gallery-thumbs img {
        width: 100%;
    }

    .HomeContent-Choose-us-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .HomeContent-About-us-data {
        grid-template-columns: repeat(1, 1fr);
    }

    .HomeContent-Contect :nth-child(1) {
        font-size: 25px;
        font-weight: bolder;
    }
}

@media (max-width: 500px) {
    .HomeContent-first-image-text {
        width: 95%;
    }

    .HomeContent-Dreams div {
        font-size: 25px;
    }
}