.app {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: block;
  margin: 0px;
  background-color: #c0d6f9;
}

button {
  color: white !important;
}